<%- include('header') -%>
<div class="container w-25 border py-5">
    <a class="btn btn-primary " href="/route/base" >Already have an account</a>
<a class="btn btn-primary" href="/route/signUp" >want to register</a>
</div>

<%- include('footer') -%>